body {
  font-family: 'Raleway', sans-serif!important;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.carousel-inner > .carousel-item > .container > .carousel-caption {
  background: rgba(0, 0, 0, .5);
  padding: 3rem;
  border-radius: 15px;
  line-height: 1.5;
  font-size: 17px;
}

.jumbotron {
    padding:0.5rem;
    margin-bottom: 0;
}

.cook-time {
  font-size: .875rem;
  border-radius: 3px;
  background-color: #28a745;
  color: #FFF!important;
  padding: 0.5rem;
}

.category-title {
  margin-bottom:2rem;
}

.about-me {
  padding:2rem;
}

.breadcrumb {
  background: none;
  font-size: 0.6em;
  color:#6c757d;
}

.breadcrumb > .breadcrumb-item > a{
  color:#6c757d;
}

.recipe > .blockquote > .title {
    padding-bottom: 0.2em;
}

.recipe > .blockquote > .title > .badge {
  margin-left: 0.5em;
  padding: 0.6em;
  font-size: 0.4em;
}

.recipe > .blockquote > p {
    padding:1em;
}

.recipe > .blockquote > .social-media {
  padding:0.5em;

}

.prepare > .card-group > .card {
    border: 1px solid rgba(0,0,0,.125);
    font-size: 0.9em;
}

.badge a {
  color: #FFFFFF;
}

.categories-tag a {
    color: #FFFFFF;
}

.categories-tag {
  font-size:1.2em;
  padding-top: 3em;
  padding-bottom: 3em;
}

.categories-tag > .badge {
  margin-right:0.5em;
  font-size:0.8em;
}

.similar-recipe > .card-group > .card {
  border: 1px solid rgba(0,0,0,.125);
}

.categories > .container > .row > .col-md-4 > .card > .card-body > .card-text {
  font-size: 0.9em;
}

.ad-seans {
    letter-spacing:2px;
    color:#999999;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    font-size: 0.6em;
}

#cookies-message-container {
    padding: 10px 0px;
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #D3D0D0;
    text-align: center;
    background-color: #EFEFEF;
    width: 100%;
    position:fixed !important;
    bottom:0;
    z-index: 99999;
}

#accept-cookies-checkbox {
  background-color: #28a745;
  padding: 5px 10px;
  color: #FFF; border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  display: inline-block;
  margin-left: 10px;
  text-decoration: none; cursor: pointer;
}

.pagination .page-item.active .page-link {
    background-color: #28a745 !important;
    color: white;
    border-color: #28a745;
}

.pagination .page-link {
   color: #28a745;
}

a {
  color: #28a745;
}

footer {
  color: #FFF;
}

.social-media a, .social-media span {
  vertical-align: bottom;
}

.social-media iframe {
	vertical-align: middle;

}

.recomended {
  font-size: 0.9em;
}

.recomended h4 {
  font-size: 1.5em;
}
